html,
body {
  min-width: 320px;
  min-height: 100%;
  font-family: Barlow Semi Condensed, sans-serif;
  font-size: 1rem;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  background-attachment: fixed;
  background-size: cover;
}

body {
  overflow-x: hidden;
}

#__next {
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
  cursor: pointer;
  font: inherit;
}

:root {
  --white: #FFF;
  --dark-text: hsl(229, 25%, 31%);
  --header-outline: hsl(217, 16%, 45%);
  --score-text:hsl(229, 64%, 46%);
}
